In [12]:
import cobra

In [13]:
model = cobra.io.read_sbml_model('./Human-GEM/model/Human-GEM.xml')
model.solver

INFO:cobra.core.model:The current solver interface glpk doesn't support setting the optimality tolerance.

In [14]:
solution = model.optimize()

In [15]:
type(solution.fluxes)

pandas.core.series.Series

In [16]:
import pandas as pd

In [17]:
df=pd.read_csv('MONDO_0005148_associations_export.tsv', sep='\t')
to_drop = ['pValueAnnotation', 'orValue', 'beta', 'ci', 'efoTraits', 'bgTraits', 'accessionId', 'pubmedId', 'author']
df.drop(to_drop, inplace=True, axis=1)


df=df[pd.to_numeric(df['riskFrequency'], errors='coerce').notnull()]
df=df.loc[df['mappedGenes']!='-']
df[['chr_num', 'chr_pos']] = df['locations'].str.split(':', n=1, expand=True)
df.drop(['locations'], inplace=True, axis=1)
df.sort_values(by='riskFrequency')
len(set(df.mappedGenes))

1454

In [18]:
df2=pd.read_csv('143_risk_variants.tsv', sep='\t')
to_drop = ['DATE ADDED TO CATALOG', 'PUBMEDID', 'FIRST AUTHOR', 'DATE', 'JOURNAL', 'LINK', 'STUDY', 'GENOTYPING TECHNOLOGY', 'STUDY ACCESSION','MAPPED_TRAIT','MAPPED_TRAIT_URI','PLATFORM [SNPS PASSING QC]','95% CI (TEXT)','OR or BETA','PVALUE_MLOG','P-VALUE (TEXT)','INTERGENIC','CNV','SNP_ID_CURRENT','MERGED','UPSTREAM_GENE_ID','DOWNSTREAM_GENE_ID','UPSTREAM_GENE_DISTANCE','DOWNSTREAM_GENE_DISTANCE','SNP_GENE_IDS','REPLICATION SAMPLE SIZE']
df2.drop(to_drop, inplace=True, axis=1)
df2=df2[pd.to_numeric(df2['RISK ALLELE FREQUENCY'], errors='coerce').notnull()]
df2=df2.dropna(subset='REPORTED GENE(S)')

df2=df2.rename(columns={"DISEASE/TRAIT":"traitName", 'MAPPED_GENE':'mappedGenes','P-VALUE':'pValue','RISK ALLELE FREQUENCY':'riskFrequency','CHR_ID':'chr_num','CHR_POS':'chr_pos','STRONGEST SNP-RISK ALLELE':'riskAllele'})
to_drop = ['INITIAL SAMPLE SIZE','REGION','REPORTED GENE(S)','SNPS','CONTEXT']
df2.drop(to_drop, inplace=True, axis=1)

In [19]:
df3=pd.read_csv('5471_associations.tsv', sep='\t')
to_drop = ['DATE ADDED TO CATALOG', 'PUBMEDID', 'FIRST AUTHOR', 'DATE', 'JOURNAL', 'LINK', 'STUDY', 'GENOTYPING TECHNOLOGY', 'STUDY ACCESSION','MAPPED_TRAIT','MAPPED_TRAIT_URI','PLATFORM [SNPS PASSING QC]','95% CI (TEXT)','OR or BETA','PVALUE_MLOG','P-VALUE (TEXT)','INTERGENIC','CNV','SNP_ID_CURRENT','MERGED','UPSTREAM_GENE_ID','DOWNSTREAM_GENE_ID','UPSTREAM_GENE_DISTANCE','DOWNSTREAM_GENE_DISTANCE','SNP_GENE_IDS','REPLICATION SAMPLE SIZE']
df3.drop(to_drop, inplace=True, axis=1)
set(df3['DISEASE/TRAIT'])
df3=df3.loc[df3['DISEASE/TRAIT']=='Type 2 diabetes']
df3=df3.dropna(subset='REPORTED GENE(S)')
df3=df3[pd.to_numeric(df3['RISK ALLELE FREQUENCY'], errors='coerce').notnull()]
df3=df3.rename(columns={"DISEASE/TRAIT":"traitName", 'MAPPED_GENE':'mappedGenes','P-VALUE':'pValue','RISK ALLELE FREQUENCY':'riskFrequency','CHR_ID':'chr_num','CHR_POS':'chr_pos','STRONGEST SNP-RISK ALLELE':'riskAllele'})
to_drop = ['INITIAL SAMPLE SIZE','REGION','REPORTED GENE(S)','SNPS','CONTEXT']
df3.drop(to_drop, inplace=True, axis=1)
df3

,traitName,chr_num,chr_pos,mappedGenes,riskAllele,riskFrequency,pValue
1,Type 2 diabetes,11,2817183,KCNQ1,rs163177-C,0.43,1.000000e-06
89,Type 2 diabetes,7,127613496,PAX4,rs2233580-A,0.07,2.000000e-10
90,Type 2 diabetes,6,20694653,CDKAL1,rs2206734-A,0.46,2.000000e-10
91,Type 2 diabetes,11,2835964,KCNQ1,rs2237895-C,0.31,4.000000e-09
92,Type 2 diabetes,5,127020350,MARCHF3,rs11960799-?,0.65,1.000000e-07
...,...,...,...,...,...,...,...
5087,Type 2 diabetes,9,81694033,TLE1-DT,rs2796441-G,0.63,2.000000e-06
5088,Type 2 diabetes,2,226228869,NYAP2 - MIR5702,rs2943640-C,0.63,7.000000e-09
5089,Type 2 diabetes,15,77454848,HMG20A,rs7178572-G,0.7,2.000000e-11
5090,Type 2 diabetes,10,79182874,ZMIZ1,rs12571751-A,0.51,2.000000e-10
5091,Type 2 diabetes,3,123363551,ADCY5,rs11717195-T,0.78,2.000000e-08

In [59]:
gwas_genes=list(set(list(df.mappedGenes)+list(df2.mappedGenes)+list(df3.mappedGenes)))

In [42]:
from pyensembl import EnsemblRelease
data = EnsemblRelease(release=111, species='homo_sapiens')

In [98]:
model_genes=[]
gene_ensembl_table = dict()      # gene_ensemble_table['CDA2F'] = 'ENSG00000012861'
model_genetype=dict()

for i in model.genes:
    try:
        model_genes.append(data.gene_by_id(i.id).gene_name)
        gene_ensembl_table[data.gene_by_id(i.id).gene_name]=i.id
        model_genetype[data.gene_by_id(i.id).gene_name]=data.gene_by_id(i.id).biotype
    except ValueError:
        pass

In [101]:
pure_genes=[]

# FUTURE DIRECTIONS
linc_genes=[]
dash_genes=[]
comma_genes=[]
gwas_genes=gwas_genes[1:]

for i in gwas_genes:
    if '-' in i:
        if 'LINC' in i:
            linc_genes.append(i)
        else:
            for j in i.split('-'):
                if j[0]!=' ':
                    dash_genes.append(j)
                else:
                    dash_genes.append(j[1:])
    elif ',' in i:
        for j in i.split(','):
            comma_genes.append(j)
    else:
        pure_genes.append(i)
print(len(pure_genes))
print(len(linc_genes))
print(len(dash_genes))
print(len(comma_genes))

733
100
1142
1143

In [102]:
ko_candidate_genes=[]
for i in pure_genes:
    if i in model_genes:
        ko_candidate_genes.append(i)
print(len(ko_candidate_genes))

113

113 KO candidate genes

In [153]:
# ENSG00000089472
import copy
solutions=[model.optimize()]

model_genes=dict()
for i in model.genes:
    model_genes[i.id]=i
for i in ko_candidate_genes:
    model.genes.get_by_id(gene_ensembl_table[i]).knock_out()
    solutions.append(model.optimize())
    model.genes.get_by_id(gene_ensembl_table[i]).functional=True
print(len(solutions))

114

In [154]:
# one solution only taken. needs to be normalized with a range of fluxes, FVA etc.
print(ko_candidate_genes)

['BRAP', 'ABCA1', 'CTBP1', 'NUP133', 'PTEN', 'FADS2', 'SLC1A2', 'UHRF1', 'MSRA', 'ASAH1', 'UBE2O', 'SLC13A3', 'GBA2', 'SLCO4A1', 'PDHX', 'HECW1', 'ACE', 'SRR', 'APIP', 'CPA6', 'ACP6', 'USP3', 'SLC2A2', 'AQP10', 'AOC1', 'ENO3', 'LPL', 'MGAT1', 'ATP2A1', 'HS6ST3', 'TPCN2', 'UBE3C', 'DMGDH', 'PLCB3', 'PTDSS1', 'COPB1', 'TNKS2', 'NOS1', 'ABCC1', 'PTPRQ', 'SLC39A8', 'BTD', 'PARP8', 'FARSA', 'USP36', 'DGKG', 'YKT6', 'XYLT1', 'ART3', 'SCD5', 'DGKD', 'SETD5', 'LPIN2', 'NUP160', 'LDHB', 'UBE2D3', 'DDC', 'MARCHF3', 'CHST6', 'USP44', 'MTAP', 'NSD1', 'SLC25A26', 'GUCY1B1', 'ACP7', 'OARD1', 'ATP2A3', 'HPSE2', 'CPA1', 'PGM1', 'ACSL1', 'AOAH', 'ST6GAL1', 'PDE3A', 'ATP8B2', 'POLK', 'PRKD1', 'MARCHF1', 'CTSH', 'GYS2', 'POLR1D', 'KCNJ11', 'HSD17B12', 'PNPLA3', 'SLC16A13', 'PDE3B', 'ACHE', 'ABO', 'ABCC8', 'SLC7A7', 'ADCY5', 'ALDH1A2', 'SGPL1', 'PLA2G6', 'PAM', 'PDIA6', 'UBE2Z', 'EP300', 'GCK', 'UBE2E2', 'DNMT3A', 'DGKB', 'USP48', 'PEPD', 'DGAT1', 'HERC2', 'SLC22A3', 'APOE', 'HERC1', 'GALNT3', 'FAM227B', 'ENPP3', 'PKLR']

In [173]:
unique_fluxes=[solutions[0].fluxes]
for i in solutions:
    unique=True
    for j in unique_fluxes:
        if j==i.fluxes:
            unique=False
            break
    if unique==True:
        unique_fluxes.append(i.fluxes)
print(len(unique_fluxes))

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().